.navbar {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 5.8rem;
    width: 100%;
    fill: #e4007c;
    background: #e4007c;
    box-shadow: 0px 5px 10px 0px #7B004C40;
    color: #FFFFFF;

}

/* .logo_container {
    background: #000000;
    width: 80px;
    height: 90%;
    margin-top: 5px;
    border-radius: 100%;
    display: flex;
    align-items: center;
} */

.nav_container {
    width: 75%;
    height: 100%;

}

.nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav_items {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.nav_links {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1.4rem;
    overflow: hidden;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}



.nav_links::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: #56DEE7;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.nav_links:hover::before {
    transform: scaleX(1);
}

.nav_links::before {
    transform-origin: center;
}


@media (max-width: 780px) {
    .navbar {

        justify-content: space-between;
    }

    .nav_container {
        background: #a0407b41;
        position: fixed;
        top: 5.8rem;
        height: calc(100vh - 5.8rem);
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .nav {
        box-shadow: -1px 5px 50px 10px #7B004C40;
        width: 75%;
        flex-direction: column;
        background: #e4007c;
        padding: 0 0 2rem;
        border-radius: 0 0 0 30%;
        justify-content: center;
        gap: 1.5rem;
    }

    .nav_items {
        flex-direction: column;
        height: 75%;
    }

    .nav_links {
        width: 100%;
        justify-content: center;
        height: 5rem;
        padding: 0 2.5rem;
    }

    .nav_links::before {
        height: 3px;
        transition: transform 0.5s ease-in-out;
    }

    .nav_responsive {
        right: -100%;
    }

    .logo_container {
        margin-left: 60px;
    }


}


@media (min-width: 781px) {
    .btn_burger {
        display: none;
    }
}


.footer {
    width: 100%;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    box-shadow: 0px -5px 10px 0px #7B004C40;
    background: #e4007c;
    fill: #e4007c;
    gap: 55px;
}